PORT=4000
DATABASE_URL="postgresql://postgres:password@localhost:5432/quicktutor_db"
JWT_SECRET="quicktutor_ghana_super_secret_production_jwt_key_2026"
PAYSTACK_SECRET_KEY="sk_test_05b7cf9ffe6c0d32950f71d345ec543d5cc6080a"
ARKESEL_API_KEY="UmFCR2VPenJtR25ETnBzVVZoTVI"
